<br><div class="medium-text"><strong>All Plants</strong></div>
<br>
<div>
	<div id="plant-container" class="container">
		<% @plants.each do |plant| %>

		<div> - <%= link_to plant.name, plant_path(plant), {:style=>'font-size:13px;color:#77d;text-decoration:none;'} %> - <%if current_user.admin %><%= link_to "Edit", edit_admin_plant_path(plant) %><%end%></div>
		<% end %>
		
	</div>
	<br><hr>
	<div class="medium-text">Click a Plant Name Above for More Information</div>
	<hr><br>
	<div class="plant-grid">
		<div id="plant-commentary">
			<h5>Not Looking to Spend too Much Time or Energy?</h5>
			<h5>-- Easiest Plant to Care For: <%= Plant.low_demand.name %> --</h5>
			<h5>Water Frequency: Every <%= Plant.low_demand.water_frequency%> Days</h5>
		</div>
		<div class="plant-show-detail"></div>
		<div class="plant-show"></div>
	</div>
</div>




<script>
  bindPlantsListeners();
</script>
