<h3><%= link_to "Make New Garden", new_garden_path %></h3>
<h2>All Gardens: </h2>

<ul>
<% @gardens.each do |garden| %>
<li><%= link_to garden.name, garden_path(garden) %> - <%= garden.garden_plants.count %> Plants</li>
<% end %>
</ul>