<!-- <div class="col-xs-1"></div> -->
<h2 class="med-title" style="color: #ffaaff">All Gardens</h2>
<div class="row">
<div class="col-sm-3">
<ul id="garden_plants">
<% @gardens.each do |garden| %>
<li><%= link_to garden.name, garden_path(garden), class: 'garden_li', id: garden.id %> - <%= garden.garden_plants.count %> Plants</li>
<% end %>
</ul>
</div>

<div class="col-sm-4" id="garden_plant_container">
<div class="med-title">
<br>
</div>
	<strong>Your Plant Info:</strong><br>

	<div id="garden_plant_viewer" class="viewer">
		- Will Update Here - 
	</div>
</div>
</div>
<div class="h3"><%= link_to "Add New Garden", new_garden_path, id: "newGarden" %></div>