<h2>Garden Name: <%= @garden.name %> 
<%= link_to "Add Plant", new_garden_garden_plant_path(@garden) %>

<ul>
<% @garden.garden_plants.each do |gp| %>
<li><%= link_to gp.plant.name, garden_garden_plant_path(gp) %>, Last Watered: <%= gp.updated_at %></li>
<% end %>
</ul>