/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	margin-top: 8%;
	/*width: 1200px;*/
	width: 50%;
	color: #faf;
}

#title {
	font-family: Pacifico;
	font-size: 3em;
	/*color: #faf;*/
	filter: drop-shadow(50px 15px 5px #fff);
}

#footer {
	position: fixed;
	bottom: 0px;
	background-color: white;
	border-top: 1px solid lightgrey;	
	width: 100%;
}

.navbar {
	overflow: hidden;
	padding-left: 60px;
	background-image: url('backgound-succulents.jpg');
	background-repeat: no-repeat;
	background-size: 33%;
	position: fixed;
	background-color: white;
	top: 0;
	width: 100%;
	z-index: 10;
	border-bottom: 1px dashed #faf;
}

#garden_plant_container {
	margin-top: 7%;
	font-family: Helvetica;
}

.alert_class {
	color: red;
	font-size: 1em;
	font-weight: bold;
}

.image_border {
    border: 10px dotted #afa;
    border-radius: 35px;
}

#plant_commentary {
	width: 200px;
	margin-left: 10px;
	background-color: #aaf;
	color: #000;
	text-align: center;
	border: 2px solid white;
	border-radius: 50px;
	filter: drop-shadow(10px 10px 7px #ccf);
}

.viewer {
	width: 200px;
	/*height: 200px;*/
	padding: 5px 5px 5px 5px;
	border: 2px solid #afa;
	border-radius: 20px;
	align-content: center;
}

.med-title {
	font-family: Pacifico;
	font-size: 2em;
	/*color: #ffaaff;*/
	align-self: center;
}

.registration-style {
	font-family: Pacifico;
	/*color: #ffaaff;*/
	filter: drop-shadow(5px 5px 5px #ccf);
	border: 0px solid #fff;
	border-radius: 20px;
	
}