<nav class="navbar navbard-default" id="header" style="border-bottom: 1px dashed #ffaaff;">
	<div class="container-fluid"></div>
	<div class="col-md-4">
		<h3 id="title"> Succulence App </h3>
	</div>
		<div class="col-md-4" style="margin-top: 25px;">
			<%= display_sign_up %>
			<%= display_sign_in %>
			<%= plants_link %><br> 
			<%= gardens_link %>
		</div>
	</div>
</nav>